@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates');
@import url('https://fonts.googleapis.com/css?family=Barlow|Barlow+Condensed|Barlow+Semi+Condensed|Exo|Fira+Sans|Fira+Sans+Condensed|Fira+Sans+Extra+Condensed|Kanit|Montserrat|Montserrat+Alternates|Prompt|Taviraj&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family:  "Lucida Console", sans-serif;
  background-color: #EDEDEE
}
