.MapContainer{
    border-radius: 10px;
    border-style: solid;
    border-color: #b2b2b2;
    border-width: 1px;
    user-select: none;
    justify-content: center;
    align-items: center;
    width: 60vw;
    margin: 0;
}
.hover-bg-gray:hover{
    fill:gray;
}
@media only screen and (max-width: 767px) {
    .MapContainer{
        width: auto;
        margin-top: 20px;
    }
}